@font-face {
  font-family: "<font>";
  src: "...";
}
body, input {
  font-family: "<font>", -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, Arial, sans-serif;
}
pre, code, kbd {
  font-family: "<font>", SFMono-Regular, Consolas, Menlo, monospace;
}
